
header, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {

    display:flex;
    background-color: #1F2937;
    height: auto;
    width: auto;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 20px;

}

header .left-header {

   font-size: 24px;
   color:#f9faf8;
   display: flex;

}

header .left-header img {

    margin-top: 20px;
    margin-left: 10px;
    height: 50px;
    display: flex;
 
 }

header .right-header ul{

    display:flex;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 39px;

}

header .right-header ul li{

    margin-right: 25px;

}

header .right-header ul a{

    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.95;
    text-decoration: none;
    
}

body .top-body {

    margin-top: -20px;
    padding-top: 45px;
    height: 400px;
    background-color: #1F2937;
    display:flex;
    justify-content: center;

}

body .top-body div {

    padding-left: 50px;

}

body .top-body .left {

    height: auto;
    width: 400px;

}

body .top-body .left h4 {

    font-size: 48px;
    color:#F9FAF8;
    font-weight: bold;

}

body .top-body .left p {

    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.95;
    margin-top: -50px;

}


body .top-body .left #register-button {

    height:40px;
    width: 100px;
    margin-top: 10px;
    background-color: #3882F6;
    border:0;
    border-radius: 6px;
    color: #F9FAF8;
    font-weight: bold;
    
}

body .top-body .right img {

    height: 252px;
    width: 630px;
    padding-top: 64px;

}

body .center-body h4 {

    text-align: center;
    font-size: 36px;
    font-weight: bold;

}

body .center-body .boxes {

    display:flex;
    justify-content: center;

}

body .center-body .boxes div {

    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid #3882F6;
    margin-right: 30px;

}

body .center-body .boxes div p {

    text-align: center;
    margin-top: 175px;

}

body .lower-body {
    margin-top: 120px;
    display: flex;
    height: 350px;
    width: auto;
    background-color: #E5E7EB;
    justify-content: center;
}

body .lower-body .quote-author{
    padding-top: 25px;
    width: 800px;
}

body .lower-body .quote-author #quote {

    text-align: left;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;

}

body .lower-body .quote-author #author{

    text-align: right;
    font-size: 26px;
    color: #1F2937;
    font-weight: bold;
    
}

body .bottom-body{
    height:400px;
    background-color: #F9FAF8;
    display:flex;
    justify-content: center;
}

body .bottom-body .contact{
    color:#E5E7EB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;    
    margin-top: 120px;
    height:150px;
    width:1000px;
    background-color: #3882F6;
    display:flex;
    justify-content: space-evenly;
    border-radius: 8px;
    padding-top: 30px;
    justify-self: center;
}

body .bottom-body .contact .signup-info {

    padding-top: 45px;

}

body .bottom-body .contact .signup-info #register-button{

    height:40px;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;

}

footer{
    height: 60px;
    background-color: #1F2937;
}

footer p {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E5E7EB;
    padding-top: 25px;
    text-align: center;
}